---
# wk C code formatting style
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
PointerAlignment: Left

# Function return type on separate line
AlwaysBreakAfterReturnType: AllDefinitions

# Allow single-line if statements
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortBlocksOnASingleLine: Empty

# Brace wrapping - Allman style (braces on new lines, else on new line)
BreakBeforeBraces: Allman

# Alignment
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

# Other style preferences
SpaceAfterCStyleCast: false
IndentCaseLabels: false
